<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/_head.ejs' , { title : title }) %>
</head>

<body>

    <%- include('./partials/_header.ejs') %> 

    <div class="container main-container">
        <div class="jumbotron mt-5 bg-dark text-white">
            <h1 class="display-2">Blog Website</h1>
            <p class="lead display-4 mt-3">A Community Blog Site</p>
            <hr class="my-4">
            <p class="">Welcome to the this site please login to explore more of it!</p>
        </div>
    </div>
    <%- include('./partials/_footer.ejs') %>
</body>

</html>